body{
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.homepage-header{
    opacity: 0.9;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}

.car-card{
    margin: auto;
    opacity: 0.9;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    width: 350px;
    height:300px;
    box-shadow: 1px 1px 5px #343a40;
}

.car-card .pic{
    height: 125px;
    width: 125px;
    border-top-left-radius: 5px;

}

.car-card .header a{
    color: #555;
    float: left;
    font-size: 20px;
    margin-bottom: 4px;
}

.car-card .stars{
    margin-top: 2px;
    margin-right: 12px;
    font-size: 30px;
    color: #44ba6d;
    float: right;
}

.car-card .description{
    float: left;
    margin-top: 4px;
    font-size: 13px;
}

.review-card{
    margin:auto;
    opacity: 0.9;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 750px;
    height:120px;
    box-shadow: 1px 1px 5px #343a40;
}

.review-card .pic{
    width: 100px;
    height: 100px;
    border-top-left-radius: 5px;
    float: left;
}

.review-card .reviewer{
    font-size: 14px;
    float: left;
}


.review-card .header a{
    color: #555;
    font-size: 20px;
    margin-bottom: 4px;
}

.review-card .date{
    color: #a3a3a3;
}

.review-card .review{
    font-size: 16px;
    margin-top: 5px;
    color: #343a40;
}

.review-card .stars{
    font-size: 20px;
    float: right;
}

.favourites-header{
    opacity: 0.9;
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 25px;
}


.faves-card{
    margin-bottom: 20px;
    opacity: 0.9;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    width: 700px;
    height: 200px;
    box-shadow: 1px 1px 5px #343a40;
}

.faves-card .pic{
    height: 200px;
    width: 200px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    margin-bottom: 0px;
}

.faves-card .header{
    color: #555;
    float: left;
    font-size: 30px;
}

.faves-card .description{
    float: left;
    margin-top: 4px;
    font-size: 13px;
}

.profile-name{
    opacity: 0.9;
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 25px;
}

.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.profile-card{
    margin:auto;
    opacity: 0.9;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 650px;
    height:120px;
    box-shadow: 1px 1px 5px #343a40;
    float: right;
}

.profile-card .pic{
    width: 100px;
    height: 100px;
    border-top-left-radius: 5px;
    float: left;
}

.profile-card .reviewer{
    font-size: 14px;
    float: left;
}


.profile-card .header a{
    color: #555;
    font-size: 20px;
    margin-bottom: 4px;
}

.profile-card .date{
    color: #a3a3a3;
}

.profile-card .review{
    font-size: 16px;
    margin-top: 5px;
    color: #343a40;
}

.profile-card .stars{
    font-size: 20px;
    float: right;
}

.results-header{
    opacity: 0.9;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 25px;
}

.makereview{
    opacity: 0.9;
    display: inline-block;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 5px;
    width: 85%;
    height: 250px;
    box-shadow: 1px 1px 5px #343a40;
}

.makereview .rating{
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 8%;
    height: 40px;
    color:#ffffff;
    background-color:#7a7a7a;
}

.makereview .header{
    color: #000000;
    font-size: 20px;
}

.makereview .caption{
    width: 90%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.makereview .submit-review{
    border-radius: 5px;
    border: none;
    background-color: #7a7a7a;
    color: #ffffff;
    width: 20%;
    height: 40px;
    font-size: 20px;
}

.carpage-header{
    font-size: 60px;
    color: #ffffff;
    opacity: 0.9;
}

.carspecs{
    opacity: 0.9;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    width: 35%;
    height: 250px;
    box-shadow: 1px 1px 5px #343a40;
    margin-right: 25px;
}

.category{
    float: left;
    font-size: 20px;
    color: #000000;
    margin-bottom: 5px;
}

.spec{
    float: right;
    font-size: 20px;
    color: #515151;
    margin-bottom: 5px;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{
  text-align:center;

}
.register a{
  color: #191919;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  margin-top:10px;
  background: #191919;
  border-color: #191919;
  color: #ffffff;
  font-size: 18px;
  width: 100%;
  height: 50px;
  line-height: 40px;
}

.adv-search{
  border-radius: 5px;
  opacity: 0.9;
  margin-top:10px;
  margin-bottom: 10px;
  background: #ffffff;
  border-color: #ffffff;
  color: #000000;
  font-size: 18px;
  width: 30%;
  height: 50px;
  line-height: 40px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}
