{% extends "layout.html" %}

{% block title %}
    carpage
{% endblock %}

{% block main %}
<center>

<div class="carpage-header">{{brand}} {{model}} {{generation}}</div>


<div class="row">
  <div class="col-md-12">


    <div class="carspecs">

      <ul class="list-group">
        <li class="list-group-item text-right"><span class="pull-left"><strong>Serie</strong></span> {{ specs[0]['Serie'] }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Trim</strong></span> {{ specs[0]['Trim'] }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>From - To</strong></span> {{ startyear }} - {{ endyear }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Seats</strong></span> {{ specs[0]['Number_of_seater'] }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Engine type</strong></span> {{ specs[0]['Engine_type'] }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Engine power bhp</strong></span> {{ specs[0]['Engine_power_bhp'] }}</li>
      </ul>

    </div>

    <div class="carspecs">

      <ul class="list-group">
        <li class="list-group-item text-right"><span class="pull-left"><strong>Max speed</strong></span> {{ specs[0]['Max_speed_kmh'] }} kmh</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Curb weight</strong></span> {{ specs[0]['Curb_weight_kg'] }} kg</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Gearbox type</strong></span> {{ specs[0]['Gearbox_type'] }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Fuel tank capacity</strong></span> {{ specs[0]['Fuel_tank_capacity_litre'] }} L</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>0-100</strong></span> {{ specs[0]['Acceleration_0100_kmh_second'] }} seconds</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Cylinders</strong></span> {{ specs[0]['Number_of_cylinders'] }}</li>
      </ul>

    </div>

  </div>
</div>
<div>
  <form action="/favourites?id={{id}}" method="post">
  <button type="submit" class="btn btn-danger">Favourite</button>
  </form>
</div>

<form action="/carpage?id={{id}}" method="post">

  <div class="makereview">

    <div class="header">Give this car a star rating:</div>

      <select class="rating" id="rate" type="text" name="rate">
        <option value="1">★☆☆☆☆</option>
        <option value="2">★★☆☆☆</option>
        <option value="3">★★★☆☆</option>
        <option value="4">★★★★☆</option>
        <option value="5">★★★★★</option>
      </select>

      <div class="header">Add a comment:</div>

      <div class="caption">
        <textarea class="form-control" id="comment" name="comment"></textarea>
      </div>

      <button type="submit" class="submit-review">Send review</button>
  </div>
</form>

<div class="col-md-12">
<div class="favourites-header">Reviews</div>

  {% if length == 0 %}
    <div class="no_reviews">
      <div class="text">There are no reviews on this car yet, be the first!</div>
    </div>
  {% endif %}

  {% for i in range(length) %}
    <div class="review-card">
        <div class="row">

            <div class="col-md-2">
              <img class="pic" src="https://bootdey.com/img/Content/avatar/avatar1.png">
              <div class="reviewer">By {{userlist[i][0]['username']}}</div>
            </div>
            <div class="col-md-10">

              <div class="review">{{reviews[i]['review']}}</div>
              <div class="date">{{reviews[i]['date']}}</div>
            </div>

        </div>
    </div>
  {% endfor %}
</center>
{% endblock %}