{% extends "layout.html" %}

{% block title %}
    carpage
{% endblock %}

{% block main %}
<center>

<div class="carpage-header">{{brand}} {{model}} {{generation}} {{startyear}}-{{endyear}}</div>


<div class="row">
  <div class="col-md-12">


    <div class="carspecs">

      <ul class="list-group">
        <li class="list-group-item text-right"><span class="pull-left"><strong>Model</strong></span> {{ model }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Generation</strong></span> {{ generation }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>From - To</strong></span> {{ startyear }} - {{ endyear }}</li>
      </ul>

    </div>

    <div class="carspecs">

      <ul class="list-group">
        <li class="list-group-item text-right"><span class="pull-left"><strong>Model</strong></span> {{ model }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Generation</strong></span> {{ generation }}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>From - To</strong></span> {{ startyear }} - {{ endyear }}</li>
      </ul>

    </div>

  </div>
</div>


<form action="/carpage?id={{id}}" method="post">

  <div class="makereview">

    <div class="header">Give this car a star rating:</div>

      <select class="rating" id="rate" type="text" name="rate">
        <option value="1">★☆☆☆☆</option>
        <option value="2">★★☆☆☆</option>
        <option value="3">★★★☆☆</option>
        <option value="4">★★★★☆</option>
        <option value="5">★★★★★</option>
      </select>

      <div class="header">Add a comment:</div>

      <div class="caption">
        <textarea class="form-control" id="comment" name="comment"></textarea>
      </div>

      <button type="submit" class="submit-review">Send review</button>
  </div>
</form>

<div class="col-md-12">
<div class="favourites-header">Reviews</div>
  {% for i in range(length) %}
    <div class="review-card">
        <div class="row">

            <div class="col-md-2">
              <img class="pic" src="https://bootdey.com/img/Content/avatar/avatar1.png">
              <div class="reviewer">By {{userlist[i]['username']}}</div>
            </div>
            <div class="col-md-10">

              <div class="review">{{reviews[i]['review']}}</div>
              <div class="date">{{reviews[i]['date']}}</div>
            </div>

        </div>
    </div>
  {% endfor %}
</center>
{% endblock %}