{% extends "layout.html" %}

{% block title %}
    carpage
{% endblock %}

{% block main %}
    <center>
    <p>
        <h1 class="h1">{{brand}} {{model}} {{generation}} {{startyear}}-{{endyear}}</h1>
    </p>
    <p>
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mycarousel" data-slide-to="1"></li>
    <li data-target="#mycarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="static/auto1.jpg" alt="First slide">
    </div>
    <div class="item">
      <img src="static/auto1.jpg" alt="Second slide">
    </div>
    <div class="item">
      <img src="static/auto1.jpg" alt="Third slide">
    </div>
  </div>
  <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
    </p>
    <p>
        <h1 class="h1">Specifications:</h1>
        <table class="table table-bordered">
          <tbody>
            {% for line in header %}
            <tr>
              <th scope="row">Model</th>
              <td>{{ line.Model }}</td>
            </tr>
            <tr>
              <th scope="row">Generation</th>
              <td>{{ line.Generation }}</td>
            </tr>
            <tr>
              <th scope="row">Year_from_Generation</th>
              <td>{{ line.Year_from_Generation }}</td>
            </tr>
            <tr>
              <th scope="row">Year_to_Generation</th>
              <td>{{ line.Year_to_Generation }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </p>
    <p>
      <h1 class="h1">Make a Review:</h1>
      <form action="/carpage?id={{id}}" method="post">
        <div class="form-group">
          <label for="rate">Rate car with star:</label>
          <select class="form-control" id="rate" type="number" name="rate">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="comment">Add comment:</label>
          <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Send review</button>
      </form>
    </p>
    </center>
{% endblock %}