{% extends "layout.html" %}

{% block title %}
    favourites
{% endblock %}

{% block main %}
<div class="container">
    <div class="col-md-9">
        <div class="favourites-header">You have {{ faves }} favourites saved</div>

        {% for x in range (0,length) %}
        <section class="faves-card">

            <a href="#"><img class="pic" src="http://bootdey.com/img/Content/avatar/avatar1.png"></a>

            <div class="description">
              <ul class="list-group">
                <li class="list-group-item text-muted"><a href="/carpage?id={{carslist[x][0]['id']}}">{{carslist[x][0]['Make']}} {{carslist[x][0]['Model']}} {{carslist[x][0]['Generation']}}</a><i class="fa fa-dashboard fa-1x"></i></li>

                {% if carslist[x][0]['stars'] == "NULL" %}
                  <li class="list-group-item text-right"><span class="pull-left"><strong>Stars</strong></span> Not yet rated</li>
                {% endif %}

                <li class="list-group-item text-right"><span class="pull-left"><strong>Stars</strong></span>
                    {% for i in range (0, carslist[x][0]['stars']) %}
                      <span class="glyphicon glyphicon-star"></span>
                    {% endfor %}
                    {% for i in range (0,5 - carslist[x][0]['stars']) %}
                      <span class="glyphicon glyphicon-star-empty"></span>
                    {% endfor %}
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>From - To</strong></span> {{carslist[x][0]['Year_from_Generation']}} - {{carslist[x][0]['Year_to_Generation']}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Serie</strong></span> {{carslist[x][0]['Serie']}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Trim</strong></span> {{carslist[x][0]['Trim']}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Seats</strong></span> {{carslist[x][0]['Number_of_seater']}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Engine type</strong></span> {{carslist[x][0]['Engine_type']}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Max speed</strong></span> {{carslist[x][0]['Max_speed_kmh']}} kmh</li>
              </ul>
            </div>
        </section>
        {% endfor %}
    </div>
</div>
{% endblock %}
