{% extends "layout2.html" %}

{% block title %}
    favourites
{% endblock %}

{% block main %}
<div class="container">
    <div class="col-md-9">
        <div class="favourites-header">You have {{ faves }} favourites saved</div>

        {% for x in range (0,length) %}
        <section class="faves-card">

          <a href="#"><img class="pic" src="http://bootdey.com/img/Content/avatar/avatar1.png"></a>

          <div class="header"><a href="/carpage?id={{x['id']}}">{{carslist[x][0]['Make']}} {{carslist[x][0]['Model']}} {{carslist[x][0]['Generation']}}</a></div><br/>
          <div class="description">specs</div>
        </section>
        {% endfor %}
    </div>
</div>
{% endblock %}
