{% extends "layout2.html" %}
{% block title %}
    Filter
{% endblock %}

{% block main %}

<div class="container">
	<div class="col-md-9">
   {% for x in filtered %}
        <section class="search-result-item">
            <a class="image-link" href="#"><img class="image" src="http://bootdey.com/img/Content/avatar/avatar1.png">
            </a>
            <div class="search-result-item-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="search-result-item-heading"><a href="/carpage?id={{x['id']}}">{{x['Make']}}, {{x['Model']}},{{x['Generation']}}, {{x['id']}}</a></h4>
                        <p class="description">Specs enzo</p>
                    </div>
                    <div class="col-sm-3 text-align-center">
                        <p class="value3 mt-sm">$9, 700</p>
                        <a class="btn btn-primary btn-info btn-sm" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
    {{error}}
    </div>
</div>
{% endblock %}
