{% extends "layout2.html" %}

{% block title %}
    homepage
{% endblock %}

{% block main %}
<div class="container">
    <div class="col-md-12">
        <h2>Highest rated cars</h2>
        {% for i in range (0,3) %}
        <section class="search-result-item">
            <a class="image-link" href="#"><img class="image" src="http://bootdey.com/img/Content/avatar/avatar1.png"></a>
            <div class="search-result-item-body">
              <div class="col-sm-4">
                  <h4 class="search-result-item-heading"><a href="/carpage?id={{i['id']}}">{{highestrated[i]['Make']}} {{highestrated[i]['Model']}} {{highestrated[i]['Generation']}}</a></h4>
                  <p class="description">{{highestrated[i]['stars']}} <span class="glyphicon glyphicon-star"></span></p>
              </div>
              <div class="col-sm-2 text-align-center">
                  <p class="value3 mt-sm">$9, 700</p>
                  <a class="btn btn-primary btn-info btn-sm" href="#">Learn More</a>
              </div>
            </div>
        </section>
        {% endfor %}
    </div>
</div>

<center>
    <h1>Recent Reviews</h1><br><br>
    <p>
      <table class="table table-bordered" style="table-layout: fixed; max-width: 50%">
        <tbody>
          {% for i in range(0,5) %}
          <tr>
            <th scope="row">Car</th>
            <td><a href="/carpage?id={{lastreviews[i]['car_id']}}">{{lastreviews[9-i][0]['Make']}} {{lastreviews[9-i][0]['Model']}} {{lastreviews[9-i][0]['Generation']}}</a></td>
          </tr>
          <tr>
            <th scope="row">Stars</th>
            <td>{{lastreviews[i]['stars']}}</td>
          </tr>
          <tr>
            <th scope="row">Review</th>
            <td>{{lastreviews[i]['review']}}</td>
          </tr>
          <tr>
            <th scope="row">Date</th>
            <td>{{lastreviews[i]['date']}}</td>
          </tr>
          <tr style="height: 3em;"></tr>
          {% endfor %}
        </tbody>
      </table>
    </p>
</center>
{% endblock %}
