<!DOCTYPE html>
<head>
  <title>BMWreviews</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <li class="navbar-left">
        <a href="{{ url_for('homepage') }}"><span class="glyphicon glyphicon-cars"></span>Home</a>
      </li>

      <li class="navbar-right">
        <a href="{{ url_for('profile') }}"><span class="glyphicon glyphicon-user"></span> Profile</a>
        <a href="{{ url_for('favourites') }}"><span class="glyphicon glyphicon-heart"></span> Favourites</a>

        <div class="form-group">
            <form class="form-inline" method="GET" action="search">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
      </li>
    </ul>
</nav>
<main>
  {%block main%}{%endblock%}

</main>
</body>
</html>
