{% extends "layout2.html" %}

{% block title %}
    profile
{% endblock %}

{% block main %}
<center>

        <img src="{{avatar[0]['avatar']}}" style="max-width: 250px; height: auto;"><br><br>
        <form method="POST" action="/update_avatar">
        <input name="avatar_url" type="text" placeholder="Enter image url and file extension"></input>
        <button onclick="update_avatar">Update Avatar</button>
        </form>
        <br><br>
        <b>{{username}}</b><br>
        {{bio[0]['bio']}}
        <h3>Reviews</h3>
        <p>
        <table class="table table-bordered" style="max-width: 50%">
          <tbody>
            {% for i in range(0, length)%}
            <tr>
              <th scope="row">Car</th>
              <td><a href="/carpage?id={{carids[i]}}">{{carlist[i][0]['Make']}},{{carlist[i][0]['Model']}}, {{carlist[i][0]['Generation']}}</a></td>
            </tr>
            <tr>
              <th scope="row">Stars</th>
              <td>{{reviews[i]['stars']}}</td>
            </tr>
            <tr>
              <th scope="row">Comment</th>
              <td>{{reviews[i]['review']}}</td>
            </tr>
            <tr>
              <th scope="row">Date</th>
              <td>{{reviews[i]['date']}}</td>
            </tr>
            <tr style="height: 3em;"></tr>
            {% endfor %}
          </tbody>
        </table>
        </center>
    </p>
    </div>
{% endblock %}
