{% extends "layout.html" %}

{% block title %}
    profile
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="profile-name">{{username}}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <!--left col-->

            <div class="biobox">
                <ul class="list-group">
                    <li class="list-group-item text-muted">Bio</li>
                    <li class="list-group-item text">{{bio[0]['bio']}}</li>

                </ul>
            </div>

             <div class="infobox">
                <ul class="list-group">
                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Reviews</strong></span> {{ reviewcount }}</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Favourites</strong></span> {{ favescount }}</li>
                </ul>
            </div>

        </div>

        {% for i in range(0,length) %}
            <div class="profile-card">
                <div class="row">
                    <form action="/remove_review?id={{carids[i]}}" method="post">
                      <button type="submit" class="undo_review">Remove</button>
                    </form>

                    <div class="col-md-2">
                      <img class="pic" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                      <div class="reviewer">By {{ username }}</div>
                    </div>
                    <div class="col-md-10">
                      <div class="header"><a href="/carpage?id={{carids[i]}}"> {{carlist[i][0]['Make']}},{{carlist[i][0]['Model']}}, {{carlist[i][0]['Generation']}}</a></div>
                        {% for i in range (0,5 - reviews[i]['stars']) %}
                          <div class="stars"><span class="glyphicon glyphicon-star-empty"></span></div>
                        {% endfor %}
                        {% for i in range (0,reviews[i]['stars']) %}
                          <div class="stars"><span class="glyphicon glyphicon-star"></span></div>
                        {% endfor %}

                      <div class="review">{{reviews[i]['review']}}</div>
                      <div class="date">{{reviews[i]['date']}}</div>
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}