{% extends "layout.html" %}

{% block title %}
    profile
{% endblock %}

{% block main %}
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-4">
                <img src="https://via.placeholder.com/250">

                <h2>
                    {{ username }}
                </h2>
            </div>

            <div class="col-md-8">
                {{ bio }}
            </div>
            <center>
                <div class="col-md-12">
                    <h3>
                        Reviews
                    </h3>
                </div>
            </center>
        </div>

        <p>
        <table class="table table-bordered">
          <tbody>
            {% for line in reviews %}
            <tr>
              <th scope="row">Car</th>
              <td>{{brand}} {{model}} {{generation}} </td>
            </tr>
            <tr>
              <th scope="row">Stars</th>
              <td>{{line.stars}}</td>
            </tr>
            <tr>
              <th scope="row">Comment</th>
              <td>{{ line.review }}</td>
            </tr>
            <tr>
              <th scope="row">Date</th>
              <td>{{ line.date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </p>
    </div>
{% endblock %}
