{% extends "layout.html" %}
{% block title %}
    Search Result
{% endblock %}

{% block main %}
<center>
U searched for: {{a}}, there are {{resultsnumber}} matches found!<br>

{{f}}<br>

Results:
</center>
<br>
<table>
    <form method="GET" action="filter">
        Number of Seats: <select name="seats">
            <option selected value=""> -- select number of seats -- </option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br>
    Engine Type: <select name="enginetype">
            <option selected value="">-- select engine type</option>
            <option value="Disel">Disel</option>
            <option value="Gasoline">Gasoline</option>
            <option value="Hybrid">Hybrid</option>
            <option  value="Electric">Electric</option>
    </select><br>
    <button type="submit">Filter</button>
    </form>
</table>
<center>
    {% for x in results %}
        <a href="/carpage?id=">{{x['Make']}}, {{x['Model']}},{{x['Generation']}}</a><br>
    {% endfor %}
</center>
{% endblock %}
